<div id='back-image' style= 'background: url("http://loremflickr.com/g/1280/1080/<%= @quote.genre_type %>") no-repeat center center fixed;' class='complete-page'>
<span>
  <p id='quote'>
    <%= @quote.quote %>
  </p>
  <p id='author'>
    - <%= @quote.author.name %>
  </p>
</span>
</div>
