<div id='back-image' style= 'background: url("http://loremflickr.com/g/1280/1080/<%= @quote.genre_type %>") no-repeat center center fixed;' class='complete-page'>
<span>
  <p id='quote'>
    <%= @quote.quote %>
  </p>
  <p id='author'>
    - <%= @quote.author.name %>
  </p>
  <p id='author'>
    - Website made by Eva Angelin. Proud wife of Shreyas Agarwal. Tax consultant in Indonesia. Visit my <a href='https://www.linkedin.com/in/eva-angelin-92040592/' target="_blank" style='color:white'>LinkedIn</a>
  </p>
</span>
</div>
