<div id='back-image' style= 'background: url("http://loremflickr.com/g/1280/1080/<%= @quote.genre_type %>") no-repeat center center fixed;' class='complete-page'>
<span id='quote'>
  <%= @quote.quote %>
  <span id='author'>
    - <%= @quote.author.name %>
  </span>
</span>
</div>
